.search {
  margin-top: 20px;
  margin-left: 15px;
}

.login {
  margin-top: 18px;
  margin-left: 20px;
}

.dropdown {
  margin-top: 18px;
}
.signup {
  margin-top: 18px;
}
.btn-secondary {
  background-color: aliceblue;
}
.btn btn-secondary dropdown-toggle {
  background-color: black;
}
.titulo-1 {
  margin-top: 35px;
  font-size: 40px;
  font-family: "Baloo Bhai", cursive;

  color: #47682c;

  text-align: center;
}
.silla {
  margin-top: 30px;
}

/*para el signup*/

.titulo-signup {
  font-size: 66px;
  font-style: italic;
  color: #250001;
}


#nombre-usuario{
  margin-top: 20px;
  font-size: 26px;
  display: inline-block
  
}

·file-input {display: none;}